.header--3 {
    @extend %list-reset;
    .header__actions {
        float: none;
        .ps-dropdown {
            a {
                border: none;
                color: #333;
                font-weight: 500;
            }
            .dropdown-menu {
                 li {
                     a {
                        color: #333;
                    }
                }
            }
        }
    }
    .header__links {
        a {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            color: #303030;
            > i {
                @include center();
                font-size: 16px;
            }
            &:hover {
                color: $color-1st;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .cart {
            span {
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 20px;
                background-color: $color-1st;
                font-size: 10px;
                @include border-radius(50%);
                i {
                    @include center();
                    font-style: normal;
                }

            }
            &:hover {
                span {
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
    .header__top {
        display: table;
        width: 100%;
        padding-top: 30px;
        .left, .center, .right {
            display: table-cell;
            table-layout: fixed;
            width: calc(100% / 3);
        }
        .center {
            text-align: center;
        }
        .right {
            text-align: right;
        }
    }
    .menu {
        > li {
            float: none;
        }
    }
    .navigation {
        text-align: center;
    }
    .header__services {
        background-color: #f7f7f7;
        overflow: hidden;
        max-height: 45px;
    }
    @include media("<lg") {
        .navigation {
            padding: 0;
            background-color: #f7f7f7;
            .menu-toggle {
                float: right;
            }
            .menu {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 100;
                width: 100%;
                max-height: 100vh;
                overflow-y: auto;
                background-color: #fff;
                display: none;
                li {
                    text-align: left;
                }
            }
        }
    }
    @media (max-width: 640px) {
        .header__top {
            padding: 10px 0;
            .left {
                float: right;
                display: none;
            }
            .center {
                float: left;
            }
            .right {
                padding-top: 20px;
                vertical-align: top;
            }
        }
    }
    @include media("<sm") {
        .header__services {
            display: none;
        }
    }
    @include media("<xs") {
        .header__top {
            .center {
                width: 100px;
            }
            .right {
                width: calc(100% - 150px);
            }
        }
    }
}