.ps-section--collection
    .masonry-wrapper(data-col-md="4" data-col-sm="2" data-col-xs='1' data-gap="30" data-radio='4:3')
        .ps-masonry
            .grid-sizer
            .grid-item.large.high.wide: .grid-item__content-wrapper: a(href='product-listing.html').ps-collection: img(src="images/collection/fashion-2/1.jpg" alt="")
            .grid-item: .grid-item__content-wrapper: a(href='product-listing.html').ps-collection: img(src="images/collection/fashion-2/2.jpg" alt="")
            .grid-item: .grid-item__content-wrapper: a(href='product-listing.html').ps-collection: img(src="images/collection/fashion-2/3.jpg" alt="")
