extends ../master

block title
    title Xuper - Home Jewelry
block append page_styles
    link(rel="stylesheet", href="plugins/revolution/css/settings.css")
    link(rel="stylesheet", href="plugins/revolution/css/layers.css")
    link(rel="stylesheet", href="plugins/revolution/css/navigation.css")

block append page_scripts
    <script src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/slider-2.js"></script>

block page_header

    - var currentPage = 'homepage'
    include ../partials/shared/header-2
    //include ../partials/module/subscribe-popup
block page_content
    .ps-banner--jewelry: include ../partials/slider-2
    include ../partials/homepage-2/collection
    include ../partials/homepage-2/special-product
    include ../partials/homepage-2/offer
    include ../partials/homepage-2/best-seller
    include ../partials/homepage-2/campaign
    include ../partials/homepage-2/blog
    include ../partials/homepage-2/contact-map
    include ../partials/section/partners

    include ../partials/footer






