.ps-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 52px;
    height: 52px;
    z-index: 20;
    border: 3px solid #ff2757;
    @include border-radius(50%);
    span {
        @include center();
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        color: #ff2756;
        text-transform: uppercase;
    }
    &--sale-off {
        border-color: #ffa927;
        span {
            color: #ffa927;
        }
    }
}