.ps-post__thumbnail {
    position: relative;
    .ps-post__overlay {
        @include max-area();
    }
    &:hover {
        .ps-post__overlay {
            background-color: rgba(#fff, .5);
        }
    }
}

.ps-post {
    &__thumbnail {
        position: relative;
        img {
            width: 100%;
        }
    }
    &__overlay {
        @include max-area();
    }
}

.ps-post--home {
    margin-bottom: 50px;
    .ps-post__posted {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        background-color: $color-1st;
        text-align: center;
        span {
            color: #fff;
            line-height: 1em;
            font-weight: 700;
            display: block;
            &.date {
                font-size: 32px;
            }
            &.month {
                font-size: 18px;

            }
        }
    }
    .ps-post__thumbnail {
        margin-bottom: 15px;
    }
    .ps-post__title {
        font-size: 18px;
        color: #5b5b5b;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
            color: $color-1st;
        }
    }
    .ps-post__meta {
        font-size: 14px;
        font-weight: 500;
        a {
            color: $color-1st;
        }
    }
    .ps-post__content {
        p {
            line-height: 1.8em;
            color: #8d8d8d;
            font-size: 14px;
        }
    }
    .ps-post__morelink {
        font-size: 16px;
        font-weight: 600;
        color: #8d8d8d;
        text-transform: uppercase;
        line-height: 25px;
        i {
            margin-left: 10px;
            vertical-align: middle;
            line-height: 25px;
        }
        &:hover {
            color: $color-1st;
        }
    }
    @include media("<md") {
        @include clearfix;
        .ps-post__thumbnail {
            float: left;
            width: 50%;
        }
        .ps-post__content {
            float: left;
            width: 50%;
            padding-left: 30px;
        }
    }
    @include media("<sm") {
        .ps-post__thumbnail {
            width: 100%;
        }
        .ps-post__content {
            width: 100%;
            padding-left: 0;
        }
    }
}

.ps-post--jewelry {
    .ps-post__title {
        font-family: $font-2nd;
        text-transform: none;
    }
    .ps-post__morelink {
        font-family: $font-2nd;
    }
}

.ps-post--campaign {
    display: table;
    background-color: #62628a;
    .ps-post__thumbnail {
        overflow: hidden;
    }
    .ps-post__thumbnail, .ps-post__content {
        display: table-cell;
    }
    .ps-post__thumbnail {
        width: 60%;
    }
    .ps-post__content {
        width: 40%;
        vertical-align: top;
        text-align: center;
        background-color: #62628a;
        padding: 100px;
        h3 {
            font-family: $font-2nd;
            font-size: 24px;
            color: #fff;
            font-weight: 400;
            line-height: 1.3em;
        }
        h2 {
            font-family: $font-2nd;
            font-size: 48px;
            line-height: 1.3em;
            color: #fff;
        }
        p {
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 300;
            color: #ffffff;
        }
    }
    .ps-post__morelink {
        position: relative;
        display: inline-block;
        padding-bottom: 5px;
        font-family: $font-2nd;
        font-weight: 400;
        font-size: 24px;
        color: $color-1st;
        &:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 100%;
            height: 2px;
            background-color: $color-1st;
            @include transition(all .4s ease);
        }
        &:hover {
            color: #333;
            &:before {
                background-color: #333;
            }
        }
    }
    @media (max-width: 1599px) {
        .ps-post__content {
            padding: 100px 50px;
        }
    }
    @media (max-width: 1399px) {
        .ps-post__content {
            padding: 50px 50px;
        }
    }
    @include media("<lg") {
        .ps-post__thumbnail, .ps-post__content {
            width: 50%;
        }
        .ps-post__content {
            h3 {
                font-size: 20px;
            }
            h2 {
                font-size: 35px;
            }
        }
        .ps-post__morelink {
            font-size: 16px;
        }
    }
    @include media("<md") {
        ps-post__content {
            padding: 50px 30px;
            h3 {
                font-size: 18px;
            }
            h2 {
                font-size: 30px;
            }
        }
        .ps-post__morelink {
            font-size: 14px;
        }
    }
    @include media("<sm") {
        .ps-post__thumbnail {
            height: 300px;
        }
        .ps-post__thumbnail, .ps-post__content {
            display: block;
            width: 100%;
        }
        .ps-post__content {
            br {
                display: none;
            }
        }
    }
    @include media("<xs") {
        .ps-post__content {
            h3 {
                font-size: 16px;
            }
            h2 {
                font-size: 24px;
            }
        }
        .ps-post__morelink {
            font-size: 14px;
        }
    }
}

.ps-post--grid {
    margin-bottom: 30px;
    .ps-post__thumbnail {

    }
    .ps-post__badge {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;
        font-size: 14px;
        color: #eaeaea;
        line-height: 20px;
        padding: 5px 20px;
        background-color: #000;
        @include border-radius(30px);
    }
    .ps-post__content {
        padding: 25px;
        background-color: #f9f9f9;
        p {
            color: #777;
        }
    }
    .ps-post__title {
        display: block;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3em;
        color: #333333;
        &:hover {
            color: $color-1st;
        }
    }
    .ps-post__meta {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        color: #c3c3c3;
        a {
            color: $color-1st;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .ps-post__footer {
        @include clearfix();
    }
    .ps-post__morelink {
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        text-transform: uppercase;
        float: left;
        &:hover {
            color: $color-1st;
        }
    }
    .ps-post__favorite {
        float: right;
        font-size: 14px;
        color: #777;
        i {
            margin-right: 3px;
        }
        &:hover {
            color: $color-1st;
        }
    }
}

.ps-post--sidebar {
    margin-bottom: 15px;
    @include clearfix();
    .ps-post__thumbnail {
        float: left;
        width: 70px;
    }
    .ps-post__content {
        float: left;
        width: calc(100% - 70px);
        padding-left: 10px;
        p {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    .ps-post__title {
        display: block;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4em;
        color: #000;
        text-transform: uppercase;
        &:hover {
            color: $color-1st;
        }
    }
}

.ps-post--list {
    margin-bottom: 40px;
    .ps-post__content {
        padding: 25px;
        background-color: #f9f9f9;
        p {
            font-size: 14px;
            line-height: 1.8em;
            color: #777;
        }
        .ps-post__meta {
            font-size: 14px;
            font-weight: 500;
            color: #8d8d8d;
            a {
                color: $color-1st;
            }
        }
    }
    .ps-post__title {
        display: block;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2em;
        color: #333;
    }
    .ps-post__footer {
        padding-top: 15px;
        @include clearfix();
        .ps-post__morelink {
            float: left;
        }
    }
    .ps-post__morelink {
        font-size: 16px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
        &:hover {
            color: $color-1st;
        }
    }
    .ps-post__actions {
        display: inline-block;
        float: right;
        > a {
            display: inline-block;
            margin-right: 30px;
            font-size: 14px;
            color: #777;
            i {
                margin-right: 5px;
            }
        }
    }
    .ps-post__shared {
        position: relative;
        display: inline-block;
        > a {
            display: inline-block;
            margin-right: 10px;
            font-size: 14px;
            color: #777;
            i {
                margin-right: 5px;
            }
        }
        ul {
            position: absolute;
            display: inline-block;
            width: 90px;
            top: 100%;
            left: 50%;
            margin: 0;
            padding: 0;
            @include clearfix();
            list-style: none;
            @include transform(translateX(-50%));
            @include transition(all .4s ease);
            @include hidden;
            li {
                float: left;
                a {
                    display: inline-block;
                    position: relative;
                    width: 30px;
                    height: 30px;
                    background-color: $color-1st;
                    i {
                        @include center();
                        color: #fff;
                    }
                    &:hover {
                        background-color: #000;
                    }
                }
            }
        }
        &:hover {
            ul {
                @include show;
            }
        }
    }
}

.ps-post--detail {
    margin-bottom: 30px;
    background-color: #f7f7f7;
    .ps-post__thumbnail {
        margin-bottom: 15px;
    }
    .ps-post__title {
        margin-bottom: 5px;
        font-size: 24px;
        font-weight: 400;
        color: #333333;
    }
    .ps-post__meta {
        font-size: 14px;
        color: #8d8d8d;
        a {
            color: $color-1st;
        }
    }
    .ps-post__header {
        margin-bottom: 15px;
        padding: 30px;
    }
    .ps-post__content {
        padding: 30px;
        p {
            margin-bottom: 25px;
            font-family: $font-1st;
            font-size: 14px;
            line-height: 1.8em;
            color: #8d8d8d;
        }
        blockquote {
            border-color: $color-1st;
            p {
                font-family: $font-1st;
                font-size: 18px;
                font-style: italic;
                line-height: 1.6em;
                color: #999;
                &.author {
                    font-family: $font-1st;
                    font-size: 14px;
                    font-weight: 500;
                    font-style: italic;
                    line-height: 1.7em;
                    color: #8d8d8d;
                    span {
                        color: #666;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .ps-post__footer {
        @include clearfix;
        padding: 35px 30px;
        border-top: 1px solid #e5e5e5;
        .ps-post__tags {
            display: inline-block;
            float: left;
            color: #6d6d6d;
            i {
                margin-right: 10px;
            }
            a {
                font-size: 14px;
                font-style: italic;
                color: #6d6d6d;
                &:hover {
                    color: $color-1st;
                }
            }
        }
        .ps-post__actions {
            float: right;
        }
    }
    .ps-post__actions {
        span {
            margin-right: 30px;
            font-size: 14px;
            color: #777;
        }
        .ps-post__social {
            position: relative;
            display: inline-block;
            a {
                color: #777;
            }
            i {
                margin-right: 5px;
                color: #777;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                position: absolute;
                bottom: 100%;
                left: 50%;
                width: 120px;
                z-index: 1000;
                @include transform(translate(-50%, -10px));
                @include clearfix();
                @include hidden;
                @include transition(all .4s ease);
                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    @include transform(translateX(-50%));
                    @include triangle(12px, #44ccf6, down);
                }
                li {
                    float: left;
                    vertical-align: top;
                    margin-right: 0;
                    a {
                        position: relative;
                        vertical-align: top;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        i {
                            @include center();
                            color: #fff;
                        }
                        &:hover {
                            background-color: #000 !important;
                        }
                    }
                    &:nth-child(1) {
                        a {
                            background-color: #3b5998;
                        }
                    }
                    &:nth-child(2) {
                        a {
                            background-color: #44ccf6;
                        }
                    }
                    &:nth-child(3) {
                        a {
                            background-color: rgba(209, 63, 45, 0.97);
                        }
                    }
                }
            }
            &:hover {
                ul {
                    @include show;
                }
            }
        }
    }
    @include media("<sm") {
        .ps-post__title {
            font-size: 20px;
        }
        .ps-post__content {
            blockquote {
                p {
                    font-size: 14px;
                }
            }
        }
        .ps-post__footer {
            .ps-post__tags {
                float: none;
                margin-bottom: 10px;
            }
            .ps-post__actions {
                float: none;
            }
        }
    }
}
