.ps-banner--2 {
    width: 100%;
    //height: 100vh;
    padding-left: 300px;
    @include media("<lg") {
        padding-left: 0;
    }
}

.ps-banner--jewelry {
    width: 100%;
    height: 100vh;
}

.ps-hero {
    text-align: center;
    background-color: #f4eeea;
    padding: 30px 0 25px;
    h3 {
        margin-bottom: 0;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.3em;
        color: #313131;
        text-transform: uppercase;
    }
    p {
        margin-bottom: 0;
        font-size: 14px;
        color: #313131;
        line-height: 1.4em;
    }
}

.ps-banner--owl {
    position: relative;
    width: 100%;
    height: 100vh;
    .ps-banner__content {
        display: block;
        @include vertical-align();
        left: 100px;
        h4 {
            font-size: 24px;
            text-transform: uppercase;
            color: $color-heading;
            font-weight: 600;
        }
        h2 {
            font-family: $font-2nd;
            text-transform: uppercase;
            font-size: 60px;
        }
        p {
            margin-bottom: 20px;
            font-size: 36px;
            color: #7b7b7b;
            line-height: 40px;
        }
        .ps-btn {
            padding: 12px 60px;
            background-color: #000;
            &:hover {
                background-color: $color-1st;
            }
        }
    }
    @media(min-width: 1600px) {
        .ps-banner__content {
            left: 200px;
        }
    }
    @include media("<lg") {
        .ps-banner__content {
            left: 50px;
        }
    }
    @include media("<md") {
        .ps-banner__content {
            h4 {
                font-size: 20px;
            }
            h2 {
                font-size: 40px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    @include media("<xs") {
        .ps-banner__content {
            left: 25px;
        }
    }
}

