body {
    overflow-x: hidden;
}
.ps-container {
    @include clearfix();
}
@media (min-width: 320px) {
    .ps-container {
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
    }
}

@media (min-width: 768px) {
    .ps-container {
        width: 100%;
        padding: 0 30px;
    }
}

@media (min-width: 1440px) {
    .ps-container {
        width: 1440px;
    }
}

main.ps-main {
    @include transition(all .4s ease);
}

.ps-col-tiny {
    @include media("<sm") {
        .col-xs-12 {
            width: 50%;
        }
    }
    @include media("<xs") {
        .col-xs-12 {
            width: 100%;
        }
    }
}

.ps-masonry--flex {
    &[data-item="4"] {
        @include display(flex);
        @include flex-flow(column wrap);
        width: 100%;
        height: 500px;
        .ps-masonry__item {
            width: 25%;
            &.wide {
                width: 50%;
            }
        }
    }
}

.ps-template-3 {
    padding-left: 300px;
    .ps-container {
        width: 100%;
        padding: 0 50px;
    }
    @include media("<lg") {
        padding-left: 0;
    }
    @include media("<md") {
        .ps-container {
            padding: 0 30px;
        }
    }
    @include media("<sm") {
        .ps-container {
            padding: 0 15px;
        }
    }
}

.ps-sidebar {
    @extend %list-reset;
}

.ps-products-listing {
    @include clearfix;
    padding-top: 60px;
    .ps-sidebar {
        position: relative;
        width: 290px;
        float: left;
        padding-left: 30px;

    }
    .ps-content {
        float: right;
        padding: 0 30px;
        width: calc(100% - 290px);
    }
    @include media("<lg") {
        .ps-sidebar {
            float: none;
            width: 100%;
            max-width: 300px;
        }
        .ps-content {
            float: none;
            width: 100%;
            padding: 0 15px;
        }
    }
    &.inverse {
        .ps-sidebar {
            padding-left: 0;
        }
        .ps-content {
            float: left;

        }
    }
    @include media("<lg") {
        &.inverse {
            .ps-sidebar {
                padding-left: 30px;
            }
        }
    }
    @include media("<sm") {
        padding-top: 30px;

    }
}