.ps-iconbox {
    margin: 0 auto 30px;
    max-width: 480px;
    padding: 0 30px;
    text-align: center;

    i {
        display: inline-block;
        font-size: 55px;
        margin-bottom: 20px;
        &:before {
            color: #fff;
        }
    }
    h3 {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 1em;
        color: $color-1st;
    }
    header {
        margin-bottom: 10px;
        p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.71;
            color: #fff;
            font-weight: 700;
        }
    }
    p {
        font-size: 16px;
        line-height: 1.6em;
        color: #d3d3d3;
    }
    @include media("<xs") {
        p {
            font-size: 14px;
        }
    }
}